body {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #D7D7D7;
}
h1 {
  color: #20323E;
}
h2, h3 {
  color: #02894B;
}
#page-containter {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}
#navbar {
  width: 300px;
  position: fixed;
  padding: 0 1rem 2rem 0;
  height: 100vh;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#main-doc {
  width: auto;
  margin-left: 300px;
}
.list-group-item.active {
  background-color: #02894B;
}
.list-group {
  border-radius: 5px;
}
pre {
  background-color: #B6C59A;
  color: #20323E;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}
#logo {
  width: 50%;
  height: auto;
  padding-top: 1rem;
}