body {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #D7D7D7;
}
h1 {
  color: #20323E;
}
h2, h3, h4, h5 {
  color: #02894B;
}
a {
  color: #02894B;
}
a:hover {
  color: #FFA384;
}
#page-containter {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}
#navbar-container {
  width: 300px;
  position: fixed;
  padding: 0 1rem 2rem 0;
  height: 100vh;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
}
#main-doc {
  width: auto;
  margin-left: 300px;
}
.list-group-item.active {
  background-color: #02894B;
  border-color: #02894B;
  color: #fff;
}
.list-group {
  border-radius: 5px;
}
pre {
  background-color: #B6C59A;
  color: #20323E;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}
#logo {
  width: 50%;
  height: auto;
  padding-top: 1rem;
}
.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: xx-large;
  color: #02894B;
}

@media only screen and (max-width: 900px) {
  #navbar-container {
    width: 100%;
    position: relative;
    padding: 0;
    height: auto;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #logo {
    display: none;
  }
  #main-doc {
    width: auto;
    margin-left: 0px;
  }
  #navbar {
    width: 100%;
    text-align: center;
  }
  .list-group-item-light {
    display: none;
  }
}