body {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);  
  color: rgb(206, 232, 240);
  margin: 1rem 2rem;
  min-height: 100vh;
  font-family: 'Assistant', sans-serif;
}
h1 {
  font-weight: 700;
}
a {
  color: #9599E2;
  text-decoration: none;
}
a:hover {
  color: #35D5D0;
}
#top {
  text-align: center;
  color: #27304a;
}
#form-container {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  background-color: #394a7d;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.form-text {
  color: rgb(128, 151, 159);
}
button.btn-primary {
  background-color: #de95e2;
  width: 80%;
  border: #27304a 1px solid;
  color: #27304a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 10%;
}
button.btn-primary:hover {
  background-color: #9599E2;
  border: #EBEEE0 1px solid;
  color: #27304a;
}
label {
  font-size: 1.2rem;
}