/*
Navy blue
#314E70
Cyan
#35D5D0
Rosewater
#EDAEC0
Ivory
#EBEEE0
*/
body {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);  
  color: rgb(206, 232, 240);
  margin: 1rem 2rem;
  min-height: 100vh;
}
a {
  color: #EDAEC0;
  text-decoration: none;
}
a:hover {
  color: #35D5D0;
}
#top {
  text-align: center;
  color: #27304a;
}
#form-container {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  background-color: #394a7d;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.form-text {
  color: rgb(128, 151, 159);
}
input, textarea, select, button {
  /* border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 1rem; */
}
button.btn-primary {
  background-color: #EDAEC0;
  width: 80%;
  border: #000 1px solid;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}
button.btn-primary:hover {
  background-color: #314E70;
  width: 80%;
  border: #EBEEE0 1px solid;
}
label {
  font-size: 1.2rem;
}